
@model List<dashboard.models.listdata>
<ej-list-view id="locallistview" show-header="false" width="400" height="206" datasource="Model">
    <e-field-settings text="texts"></e-field-settings>
</ej-list-view>
@{
    ViewData["Title"] = "Check in";
}

<table>
    <tr>
        <td>
        </td>
        <td>

        </td>
    </tr>
</table></dashboard.models.listdata>